/*
Work of Charles Waite.
Plymouth University.
*/
/* 
    Created on : Nov 16, 2015, 10:26:13 PM
    Author     : charliearlie
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
body {
    font-family: 'Open Sans', sans-serif; 
        
}

h1 {
    font-size: 36px;
    text-align: center;
}

pre {
    font-family: 'Inconsolata', sans-serif ;
    
}

#request {
    background-color: #D3D3D3;
    font-size:20px;
    
}