/cinephiles-model/nbproject/private/
/cinephiles-model/build/
/cinephiles-api/nbproject/private/
/cinephiles-api/build/
/cinephiles-model/dist/
/cinephiles-website/nbproject/private/
/cinephiles-website/build/
/cinephiles-api/dist/
/Caching/nbproject/private/
/CodeAbbeyChallenge/nbproject/private/
/CodeAbbeyChallenge/build/
/cinephiles-website/dist/