<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>xyz.cinephiles.servlets.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>xyz.cinephiles.servlets.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>xyz.cinephiles.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMovie</servlet-name>
        <servlet-class>xyz.cinephiles.servlets.ViewMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRecommended</servlet-name>
        <servlet-class>xyz.cinephiles.servlets.GetRecommended</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMedia</servlet-name>
        <servlet-class>xyz.cinephiles.servlets.SearchMedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>xyz.cinephiles.servlets.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWatchlist</servlet-name>
        <servlet-class>xyz.cinephiles.servlets.AddWatchlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWatchlist</servlet-name>
        <servlet-class>xyz.cinephiles.servlets.GetWatchlist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMovie</servlet-name>
        <url-pattern>/ViewMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRecommended</servlet-name>
        <url-pattern>/GetRecommended</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMedia</servlet-name>
        <url-pattern>/SearchMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWatchlist</servlet-name>
        <url-pattern>/AddWatchlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWatchlist</servlet-name>
        <url-pattern>/GetWatchlist</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
